[Desktop Entry]
Type=Application
Name=file-converter
Comment=Convert between various file formats
Exec=file-converter
Icon=file-converter
Categories=Utility;GTK;
Name[en_US.UTF-8]=file-converter
