Package: file-converter
Version: 0.3.0
Architecture: all
Maintainer: Timothy Simon <timothysimon@tutanota.com>
Installed-Size: 50
Depends: bash (>= 4.3), sed (>= 4.3), grep (>= 2.26), yad (>= 0.37.0), poppler-utils (>= 0.47.0), imagemagick (>= 6.8.0), ffmpeg (>= 3.1.0)
Recommends: libreoffice (>= 5.1.0)
Section: utils
Priority: optional
Homepage: https://github.com/TimothySimon123/file-converter
Description: Convert between various file formats
 file-converter allows you to convert various
 Document, Image, Audio, Video and PDF formats.
